.item {
    margin: auto 0;
    padding: 1rem;
    list-style: none;
    box-shadow: 2px 3px 3px rgba(188, 184, 184, 0.25);
    border-radius: 15px;
    line-height: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .item:hover{
    background-color: whitesmoke;
  }
  .item h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1.75rem;
  }

  .item img{
    max-width: 80px;
    max-height: 80px;
    box-shadow: 1px 1px 1px rgba(188, 184, 184, 0.25);
    padding: 2px;
    border-radius: 10px;
  }
  

  .item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quantity span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .itemprice {
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
  }
  
  .actions button {
    
    border: 1px solid rgb(246, 210, 210);
    margin-left: 0.5rem;
    padding: 0.15rem 1rem;
    color: black;
    border-radius: 5px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color:white;
    color: rgb;
  }
