.box{
    margin-top: 2rem;
    padding: 10px;
}
.main{
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
   
}

.main h1{
    font-size: 48px;
    margin-top: 2rem;
    font-weight: 800;
}

.main p{
    font-weight: 500;
    margin-top: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 5rem auto;
    gap: 15px;
    
}

