.main{
    display: flex;
    padding: 40px;
    max-width: 100%;
    align-items: center;
    height: auto;
    flex-wrap: inherit;
    margin-top: 20px;
    
}
.main h1{
    font-size: 80px;
    font-weight: 800;
    line-height: 70px;
}

.main p{
    font-weight: 600;
    color: rgb(84, 81, 81);
    max-width: 400px;
}
.mainPage{
    padding: 10px 10px;
    margin: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: slide-from-down 1s ease-out forwards
}
.button{
    display: flex;
    gap:40px;
    font-size: 24px;
}

.second
{
    background: transparent;
    color: rgb(84, 81, 81);
    border: 1px solid rgb(84, 81, 81);;
}

.available{
    font-size: 14px;
    margin-bottom: 8px;
}

.shopImages{
    display: flex;
    gap: 16px;
}
*{
    margin: 0;
}

.image{
    padding: 4px;
    width: min-content;
    justify-items: end;
    animation: slide-from-right 1s ease-out forwards;
}

.div2{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
   
}
.div2 h1{
    font-weight: 800;
    font-size: 400;
}
@media screen and (max-width: 800px) {
    .main{
        flex-direction: column;
        gap: 30px;
        margin-left: 20px;
    }
    .main h1{
        font-size: 60px;
        
    }
    .image img{
        margin-left: 20px;
        
        padding: 4px;
        width: 400px;
    }
    nav{
        margin-left:20px;
    }
    .button{
        display: flex;
        gap:20px;
        font-size: 18px;
    }
}
 
@keyframes slide-from-right{
    0%{
      transform : translateX(30px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-from-down{
    0%{
      transform : translateY(30px);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }