.footer{
    
    width: 100%;
    padding: 2px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position:fixed;
    bottom: 0px;
    background-color: white;
    height: 20px;
    
}

.column{
    display: flex;
    gap: 8px;
    align-items: flex-end;
    font-size: large;
}



