@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;700;900&family=Ubuntu&display=swap');



*{
  margin: 0;
}

nav{
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 60px;
  align-items: center;  
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
  padding: 2px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  
}

nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}

button{
  all:unset;
  padding: 6px 16px;
  background-color: rgb(230, 24, 24);
  height: 32px;
  color: white;
  font-weight: 500;
}
body{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.shopData{
  display: inline-flex;
  gap:3px;
  flex-wrap: wrap;
  margin:  auto 4rem ;
  vertical-align: middle;
  margin-top: 3rem;
  justify-items: center;
  justify-content: center;
  
}


.container{
  
  padding: 15px 15px;
  margin: 2rem;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
 
}